$blue : #1f86e5;
$gray: #a9b9ca;
$white: #fff;
$black: #000;
$gray-light: lighten($gray, 20%);
$gray-lighter: lighten($gray, 30%);
$gray-lightest: lighten($gray, 50%);
$icon-color-default: #788ca0;
$padding-y: 1rem;
$padding-x:1rem;
$sidebar-gray: #a0bfe0;
//nav tabs content variables

$tab-link-color: #788ca0;

//forms content variables
$input-height: 40px;
$input-bg : #f2f6f9;
$input-border-color : #ced8e2;
$dropdown-text : #4e5963;

// Carousel content variables
$indicator-default-bg: #4e86c0;